.editorial-img {
    width: 50vmax;
    height: 20vmax;
    object-fit: cover;
}

.editorial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editorial-file-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
}
.editorial-files-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
}

.editorial-pdf {
    width: 50vmax;
    height: 20vmax;
}

.editorial-track {
    margin-bottom: 10px;
}

.editorial-track > audio {
    width: 30vmax;
}


@media(max-width: 767px) {
    .editorial-img {
        width: 43vmax;
        height: 20vmax;
    }

    iframe {
        width: 100%;
    }

    .editorial-pdf {
        display: none
    }
}