
#tapa{
    width: 25vmax;
    height: 25vmax;
    display: block;
    margin: auto;
}

@media(max-width: 768px){
	#tapa{
        width: 50vmax;
        height: 50vmax;
        display: block;
        margin: auto;
    }

}

#hidden {
    display: none;
}