figure > a > img {
    width: 25vmax;
    height: 25vmax;
    margin: 0 auto;
    display: block;
}

#title {
    margin-bottom: 20px;
}

figcaption {
    font-size: 20px;
}

.pagination {
    display: flex;
    width: 100%;
    font-size: 2em;
    justify-content: center;
}

.step-links {
    margin-top: 10px;
}

.previous_links {
    margin-right: 10px;
}

.page_link {
    color: white;
}

.first_page {
    margin-right: 30px;
}

.last_page {
    margin-left: 30px;
}