{% extends "web/base.html" %}
{% load static %}

{% block activeInst %}active{% endblock activeInst %}

{% block headPlus %}
<link rel="stylesheet" href="{% static 'web/css/consejo_consultivo.css' %}">
	
{% endblock headPlus %}
	
{% block content %}
	<div class="row">
		<h2 class="text-center white-text"><strong>Consejo Consultivo</strong></h2> 
		<div class="col-sm-2 col-sm-offset-1">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoJoaquinaMendez.jpg' %}">
				<div class="caption">
					<h4>Joaquina Mendez</h4>	      			
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoGustavoOjeda.jpg' %}">
				<div class="caption">
					<h4>Gustavo Ojeda</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivo-CoquiOrtiz.jpg' %}">
				<div class="caption">
					<h4>Coqui Ortiz</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivo-DanielOsuna.jpg' %}">
				<div class="caption">
					<h4>Daniel Osuna</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivo-RaulDiaz.jpg' %}">
				<div class="caption">
					<h4>Raul Diaz</h4>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoCarlosLezcano.jpg' %}">
					<div class="caption">
						<h4>Carlos Lezcano</h4>
					</div>
			</div>
		</div>
		
		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoCarlosMaciel.jpg' %}">
				<div class="caption">
					<h4>Carlos Maciel</h4>
				</div>
			</div>
		</div>
		
		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoCarlunchoZubieta.jpg' %}">
				<div class="caption">
					<h4>Carluncho Zubieta</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoGabrielaBasualdo.jpg' %}">
				<div class="caption">
					<h4>Maria Gabriela Basualdo</h4>
				</div>
			</div>
		</div>

		

		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoFlorenciadePompert.jpg' %}">
				<div class="caption">
					<h4>Florencia de Pompert</h3>
				</div>
			</div>
		</div>
		

	</div>

	<div class="row">
		<div class="col-sm-2 col-sm-offset-1">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoGabrielCocomarola.jpeg' %}">
				<div class="caption">
					<h4>Gabriel Cocomarola</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoCachoFerreyra.png' %}">
				<div class="caption">
					<h4>Cacho Ferreyra</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoMarciaMuller.jpg' %}">
				<div class="caption">
					<h4>Marcia Müller</h4>
				</div>
			</div>
		</div>
		
		<div class="col-sm-2">
			<div class="thumbnail">
				<img src="{% static 'web/img/ConsejoConsultivoPepeLedesma.jpg' %}">
				<div class="caption">
					<h4>Pepe Ledesma</h4>
				</div>
			</div>
		</div>
	</div>
		
	{% endblock %}