{% extends "web/base.html" %}
{% load static %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/index.css' %}">
{% endblock headPlus %}

{% block activeHome %}active{% endblock activeHome %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-8 col-md-offset-2" id="radio">
					<figure class="radio-container">
						<div id="logo-radio-container">
							<img id="logo-radio" src="{% static 'web/img/logo-radio-trans.png' %}" />
						</div>
						<a style="font-size:16px;" class="white-text" href="#" onclick="openRadio()">
							<button id="openRadio" class="btn btn-primary">Ir a la radio</button>
						</a>
						<div id="radioPlayer"
							style="display:none; width: 100%; height: 100%; justify-content: center; align-items: center; background: #310900">
							<figure>
								<div style="text-align: center;">
									<img style="width: 30vmax; height: 30vmax; " id="logo-radio"
										src="{% static 'web/img/logo-radio.jpg' %}" />
								</div>
								<audio style="margin-top: 20px;" controls src="https://stream.zenolive.com/84y7b87p4gruv.aac">
									Your browser does not support the
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</figure>
				</div>
			
			</div>
			<div class="row vertical-align">
				<div class="col-xs-12 col-sm-4 text-center white-text" id="jumbBrand">
					<h2 style="margin:0px;"><strong>MUSEO VIRTUAL DEL CHAMAME</strong></h1><br>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" id="info">
		<div class="col-sm-6 white-text">
			<p>Se abre esta p&aacute;gina con el deseo de llevar a quienes requieran, no una pila almacenada de nombres, fechas, canciones,etc. sino, eso mismo, pero amorosamente tra&iacute;da de los lugares m&aacute;s sensibles del alma</p>
			<p>El canto del r&iacute;o, de los p&aacute;jaros, del viento y del hombre mismo, no se traduce y es por eso que as&iacute; lo guardamos, limpios y puros.</p>
			<p>La memoria del canto est&aacute; all&iacute;, en la hondura del r&iacute;o, en el cielo copiado de lagunas, en la claridad oscura de la noche, en la breve brisa, en los d&iacute;as altos de enero, pero sobre todo, en el canto del hombre que regresa de la sangre, por obra del m&aacute;gico gesto de la memoria.</p>
			<br>
			<p>Cacho Gonzalez Vedoya</p>
		</div>
		<div class="col-xs-12 col-sm-6 white-text">
			<div class="panel-body" id="president">
				<img src="{% static 'web/img/cacho-nueva.jpg' %}" alt="cacho">
			</div>
		</div>
	</div>
{% endblock content %}