{% extends "web/root.html" %}
{% load static %}

{% block activeMapa %}active{% endblock activeMapa %}

{% block headPlus %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/css/mapa.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="{% static 'web/js/vendor/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'web/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/mapa.js' %}"></script>

{% endblock headPlus %}

{% block scriptPlus %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script type="module">

        const videoUrls = JSON.parse('{{ videoUrls|escapejs }}');

        document.addEventListener('DOMContentLoaded', function () {
            let map;
            let modal;
            let videoContainer;
            let closeModal;
            if (window.innerWidth <= 425) {
                map = document.getElementById('mapMobile');
                modal = document.getElementById('videoModalMobile');
                videoContainer = document.getElementById('videoContainerMobile');
                closeModal = document.getElementById('closeModalMobile');
            } else {
                map = document.getElementById('map');
                modal = document.getElementById('videoModal');
                videoContainer = document.getElementById('videoContainer');
                closeModal = document.getElementById('closeModal');
            }
            initMapa({
                mapDiv: map,
                modal: modal,
                videoContainer: videoContainer,
                closeModal: closeModal,
                videoUrls: videoUrls
            });
        });
    </script>

{% endblock scriptPlus %}

{% block content %}
<div class="mapa-container">
  <!-- Side Menu -->
  <div data-property-1="azul3" class="mapa-sidebar">
    <a href="{% url 'index' %}" class="mapa-back-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
            <path d="M41.1668 26H10.8335" stroke="#071739" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M26.0002 41.1663L10.8335 25.9997L26.0002 10.833" stroke="#071739" stroke-width="5" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </a>
    <div class="mapa-sidebar-feature">
      <img class="mapa-sidebar-feature-img" src="{% static 'web/img/logo-mapa.svg' %}" />
        <p class="logo-text">
            Ñande Táva Purahéi
        </p>
    </div>
    <div class="mapa-sidebar-content">
      {% for dept, dept_name in departments.items %}
      <div class="mapa-menu-item" data-name="{{ dept }}">
        <div class="mapa-menu-item-label">
          <div class="mapa-menu-item-text">{{ dept_name }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- Map Content Area: Title above Map -->
  <div class="mapa-content-area">
    <div id="tituloMapa">
      <p>EXPLORA EL MAPA:<br>
      HACÉ CLICK EN UNA LOCALIDAD PARA DESCUBRIR<br>
      SOBRE ELLA.</p>
    </div>
    <div id="map"></div>
    <div id="videoModal">
      <div>
        <span id="closeModal">&times;</span>
        <div id="videoContainer"></div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Version -->
<div id="mapaNavBar">
    <a href="{% url 'index' %}" class="mapa-back-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="#071739" />
    </svg>
    </a>
    <p class="logo-text">
        Ñande Táva Purahéi
    </p>
    <div class="logo-mobile">
        <img class="mapa-sidebar-feature-img-mobile" src="{% static 'web/img/logo-mapa.svg' %}" />
    </div>
    <div class="dropdown navBarDropdown">
        <button class="btn dropdown-toggle navBarDropdownBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 8V6H21V8H3ZM3 13H21V11H3V13ZM3 18H21V16H3V18Z" fill="#071739" />
            </svg>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for dept, dept_name in departments.items %}
            <a data-name="{{ dept }}" class="dropdown-item" href="#">{{ dept_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<div id="mapa-content-area-mobile">
    <div id="tituloMapaMobile">
        <p>EXPLORA EL MAPA:<br>
            HACÉ CLICK EN UNA LOCALIDAD PARA DESCUBRIR<br>
            SOBRE ELLA.</p>
    </div>
    <div id="mapMobile"></div>
    <div id="videoModalMobile">
        <div>
            <span id="closeModalMobile">&times;</span>
            <div id="videoContainerMobile"></div>
        </div>
    </div>
</div>
{% endblock %}
